@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.text {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-grid {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  justify-content: center;
  align-content: center;
}
.box-shadow {
  box-shadow: 4px 4px 8px 3px rgba(0, 0, 0, 0.1);
}
.image-shadow {
  box-shadow: 0px 16px 39px rgba(117, 77, 232, 0.15);
}

.border-shadow {
  filter: drop-shadow(0px 4px 2px rgba(117, 77, 232, 0.5));
}
.letter::first-letter {
  text-decoration: underline;
}

.drp-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
